
<div class="nav1">
<nav>
<li> <a href="/">Inicio</a> </li>
<li> <a href="/productos">Productos</a></li>
<li> <a href="/contactos">Contactos</a></li>


</nav>
</div>

<div class="nav3">
    <nav>
        <li> <a href="/register">Registrate</a></li>
        <li> <a href="/login">Inicio de Sesión</a></li>
        <li> <a href="/logout">Cerrar Sesión</a></li>
    </nav>
</div>


